 @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700&display=swap');

  :root{
    --primary: #00A97F;
    --light:rgba(133,198,218,255);
    --dark:rgba(13,13,10,255);
    --darker:rgba(234,157,90,255);
    --lighter:#cbd6cf;
    --lighter1:#c3dacc86;
    --lighter2:#e4f0e9da;
    --darken: #cca27e;
    --color: orangered;
    --search: #FF6000;
    --primary1: #2b3d4c;
    --primary2: #354d61;
    --lighter3:#ecf2f7;
    --primary3:#0989ff;
} 


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

a{
  text-decoration: none;
  font-size: 14px;
  font-weight: bolder;
  

}
p{
  font-size: 14px;
  font-weight: bolder;
 
}

/*   Header Start Here  */
/* @-webkit-keyframes anim {
  from {
      left: 0%;         
  }
  to {
      left: 100% ;
  }
}

@keyframes anim {
from {
      left: 0%;
  }
  to {
    left:100% ;
  }
}
.animated-right-left{
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
position:relative;
-webkit-animation: anim 8s infinite;
animation: anim 8s infinite;

-webkit-animation-timing-function: linear; 
animation-timing-function:linear;
} */
 @keyframes flip1 {
    0%,80% {
      transform: rotateY(360deg) 
      
    }
    
} .animated-right-left{
  animation: flip1 4s infinite;
  animation-delay: calc(.5s * var(--i))
}
  
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
    
  }
}
.animated-x
{
  animation: flip 5s infinite;
  animation-delay: calc(.5s * var(--i))
}  


.header-top-strip{
  background: var(--primary3);
}
/*   Header End Here  */